// Navigation code here
.navigation {
  .desktop-width();
  text-align: center;
  .logo {
    margin: 10px 0;
    h1 {
      font-size: 4rem;
    }
  }
  .menu {
    font-size: 1.6rem;
    margin: 10px 0;
    .menu-item {
      text-decoration: none;
      color: black;
      padding: 0 2%;
    }
  }
}
